body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

*{
    font-family: 'Cabin', sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.form-input {
    width: 60%;
    height: 36px;
    font-size: 22px;
}

.submit-button {
font-size: 22px;
}

.invisible-button {
  background: transparent;
  border: none !important;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  vertical-align: middle;
}

#plus-form {
  font-size: 32px;
  vertical-align: middle;
}

.title-icon{
  font-size: 18px;
}


.list-text {
  font-size: 20px;
  margin: 28px;
}

.check-list{
margin-left:8px;
margin-right:8px;
text-align: center;
}




input{
  height: 26px;
}



.active-button, .completed-button, .all-button{
  margin:50px;
  margin-top:40px;
  border: 1px black solid;
  background-color: white;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.title{
  font-size: 60px;
}

.listItem{
/* border: 1px black solid; */
width:60%;
word-wrap: break-word;
text-align: center;
padding-top: 13px;
padding-left:8px;
padding-right:8px;
}

.list-text{
  display: flex;
  justify-content: center;
}
